
<div class="container">
  <div class="row">
    <div class="col">
      <h1 id="tableLabel">Botan Bingo</h1>

      <p>As he says/does the thing described press the corresponding button.</p>
      <p>First to get five in a row wins.</p>
      <p>Bingo! in the center is free.</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table *ngIf="botanisms">
        <tbody>
          <tr>
            <td><button (click)="toggleBotanism(0)" [class.btn-success]="checked[0]" [class.btn-danger]="!checked[0]" class="btn">{{botanisms[0]}}</button></td>
            <td><button (click)="toggleBotanism(1)" [class.btn-success]="checked[1]" [class.btn-danger]="!checked[1]" class="btn">{{botanisms[1]}}</button></td>
            <td><button (click)="toggleBotanism(2)" [class.btn-success]="checked[2]" [class.btn-danger]="!checked[2]" class="btn">{{botanisms[2]}}</button></td>
            <td><button (click)="toggleBotanism(3)" [class.btn-success]="checked[3]" [class.btn-danger]="!checked[3]" class="btn">{{botanisms[3]}}</button></td>
            <td><button (click)="toggleBotanism(4)" [class.btn-success]="checked[4]" [class.btn-danger]="!checked[4]" class="btn">{{botanisms[4]}}</button></td>
          </tr>

          <tr>
            <td><button (click)="toggleBotanism(5)" [class.btn-success]="checked[5]" [class.btn-danger]="!checked[5]" class="btn">{{botanisms[5]}}</button></td>
            <td><button (click)="toggleBotanism(6)" [class.btn-success]="checked[6]" [class.btn-danger]="!checked[6]" class="btn">{{botanisms[6]}}</button></td>
            <td><button (click)="toggleBotanism(7)" [class.btn-success]="checked[7]" [class.btn-danger]="!checked[7]" class="btn">{{botanisms[7]}}</button></td>
            <td><button (click)="toggleBotanism(8)" [class.btn-success]="checked[8]" [class.btn-danger]="!checked[8]" class="btn">{{botanisms[8]}}</button></td>
            <td><button (click)="toggleBotanism(9)" [class.btn-success]="checked[9]" [class.btn-danger]="!checked[9]" class="btn">{{botanisms[9]}}</button></td>
          </tr>

          <tr>
            <td><button (click)="toggleBotanism(10)" [class.btn-success]="checked[10]" [class.btn-danger]="!checked[10]" class="btn">{{botanisms[10]}}</button></td>
            <td><button (click)="toggleBotanism(11)" [class.btn-success]="checked[11]" [class.btn-danger]="!checked[11]" class="btn">{{botanisms[11]}}</button></td>
            <td><button class="btn btn-success">Bingo!</button></td>
            <td><button (click)="toggleBotanism(12)" [class.btn-success]="checked[12]" [class.btn-danger]="!checked[12]" class="btn">{{botanisms[12]}}</button></td>
            <td><button (click)="toggleBotanism(13)" [class.btn-success]="checked[13]" [class.btn-danger]="!checked[13]" class="btn">{{botanisms[13]}}</button></td>
          </tr>

          <tr>
            <td><button (click)="toggleBotanism(14)" [class.btn-success]="checked[14]" [class.btn-danger]="!checked[14]" class="btn">{{botanisms[14]}}</button></td>
            <td><button (click)="toggleBotanism(15)" [class.btn-success]="checked[15]" [class.btn-danger]="!checked[15]" class="btn">{{botanisms[15]}}</button></td>
            <td><button (click)="toggleBotanism(16)" [class.btn-success]="checked[16]" [class.btn-danger]="!checked[16]" class="btn">{{botanisms[16]}}</button></td>
            <td><button (click)="toggleBotanism(17)" [class.btn-success]="checked[17]" [class.btn-danger]="!checked[17]" class="btn">{{botanisms[17]}}</button></td>
            <td><button (click)="toggleBotanism(18)" [class.btn-success]="checked[18]" [class.btn-danger]="!checked[18]" class="btn">{{botanisms[18]}}</button></td>
          </tr>

          <tr>
            <td><button (click)="toggleBotanism(19)" [class.btn-success]="checked[19]" [class.btn-danger]="!checked[19]" class="btn">{{botanisms[19]}}</button></td>
            <td><button (click)="toggleBotanism(20)" [class.btn-success]="checked[20]" [class.btn-danger]="!checked[20]" class="btn">{{botanisms[20]}}</button></td>
            <td><button (click)="toggleBotanism(21)" [class.btn-success]="checked[21]" [class.btn-danger]="!checked[21]" class="btn">{{botanisms[21]}}</button></td>
            <td><button (click)="toggleBotanism(22)" [class.btn-success]="checked[22]" [class.btn-danger]="!checked[22]" class="btn">{{botanisms[22]}}</button></td>
            <td><button (click)="toggleBotanism(23)" [class.btn-success]="checked[23]" [class.btn-danger]="!checked[23]" class="btn">{{botanisms[23]}}</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../assets/bingo.webp" style="width: 100%;" />
      </div>
      <div class="modal-footer">
        Refresh to start a new game
      </div>
    </div>
  </div>
</div>
